.docs-nav {
    background: #000;
}
.docs-nav a {
    color: #EE3F3F;
}
.docs-nav a:hover,
.docs-nav a:active,
.docs-nav a:focus {
    color: #fff;
}
.header {
    background: #c52f24;
    margin-top: -20px;
    padding: 30px 0;
}
.logo {
    margin: 0 0 20px;
}
.logo a {
    color: #fff;
    font-size: 32px;
}
.content {
    padding: 40px 0 0;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
    margin-bottom: 20px;
}
.entry p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.entry ul,
.entry ol {
    font-size: 16px;
}
.table-responsive {
    margin: 20px 0;
}
.entry img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.entry code {
    padding: 0;
    color: #333;
    background-color: transparent;
}
.codeblock {
    margin: 20px 0;
}
.box {
    background-color: #eee;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px 15px;
}
.box p {
    margin: 10px 0;
}
.information-box {
    background-color: #fff9d8;
}
.warning-box {
    background-color: #f9d9d8;
}
.tip-box {
    background-color: #d5e9f6;
}
.section-nav {
    margin-top: 30px;
}
.sidebar {
    margin-top: -20px;
}
.menu h4 {
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    padding-bottom: 2px;
}
.menu ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.menu li {
    margin: 0 0 8px;
}
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    background-color: #f4f4f4;
}
.social {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.social li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
}
